.courses {
  &__main {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 60px;

    &-description {
      text-transform: uppercase;
    }

    &-title {
      font-weight: 900;
      font-size: clamp(24px, 5vw, 48px);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: clamp(15px, 2vw, 30px);
  }

  &__more {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    &-button {
      color: var(--color-gray-800);
      font-weight: 700;
      font-size: clamp(14px, 1.5vw, 18px);
      line-height: 160%;
      padding: clamp(10px, 2vw, 15px) clamp(20px, 4vw, 40px);
      background: url("../icons/loadMore.svg") no-repeat left center;
      background-size: 20px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}