.course-card {
  display: flex;
  padding-bottom: 24px;
  flex-direction: column;
  height: 100%;
  gap: clamp(12px, 2vw, 24px);
  border-radius: 4px;
  border: 1px solid var(--gray-300);
  background: var(--color-light);
  box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 4px 4px -4px rgba(30, 33, 44, 0.03);

  @media (max-width: 700px) {
    flex-direction: row;
  }

  &__image {
    width: 100%;
    height: auto;
    max-height: clamp(100px, 40vw, 240px);
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: clamp(12px, 2vw, 24px);
    margin-bottom: clamp(12px, 2vw, 30px);
  }

  &__tag {
    display: inline-flex;
    padding: 1px 8px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    align-self: flex-start;
    color: var(--color-light);
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;

    @media (max-width: 700px) {
      margin-top: 20px;
    }

    &--marketing {
      background: var(--color-success);
    }

    &--management {
      background: var(--color-info);
    }

    &--design {
      background: var(--color-danger);
    }

    &--hr {
      background: var(--color-warning);
    }

    &--development {
      background: var(--color-purple);
    }
  }

  &__title {
    font-size: clamp(12px, 2vw, 20px);
    font-weight: 700;
    color: var(--color-gray-900);
    line-height: 150%;
  }

  &__details {
    font-size: clamp(10px, 1.5vw, 18px);

    &-amount {
      color: var(--color-danger);
      font-weight: 700;
      line-height: 150%;
    }

    &-author {
      color: var(--color-gray-700);
      font-weight: 400;
      line-height: 150%;

      &::before {
        content: "|";
        margin: 0 4px;
        color: var(--color-gray-700);
      }
    }
  }
}