.tabs {
  margin: 40px 0px 40px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin: clamp(20px, 5vw, 50px) 0;
  }

  &__buttons {
    display: flex;
    gap: clamp(10px, 3vw, 50px);

    @media (max-width: 900px) {
      flex-wrap: wrap;
    }
  }

  &__button {
    position: relative;
    color: var(--gray-600, #9A9CA5);

    &.is-active {
      color: var(--color-primary);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      border: 1px solid var(--color-primary);
      border-radius: 4px;
      padding: 0px 40px;
    }

    &::after {
      position: absolute;
      content: attr(data-count);
      font-size: 10px;
      display: inline-block;
      margin-left: 4px;
      top: 4px;
      font-weight: 900;
    }
  }

  &__form {
    &-field {
      position: relative;
      display: inline-block;
      width: clamp(100px, 50vw, 300px);
    }

    &-search {
      width: 100%;
      padding: 11px 40px 12px 16px;
      border-radius: 4px;
      border: 1px solid var(--color-gray-400);
      background: var(--color-light);
      font: inherit;

      &::placeholder {
        color: var(--color-gray-600);
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
      }
    }

    &-icon {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      pointer-events: none;
    }
  }
}