:root {
  --color-light: #ffffff;
  --color-primary: #FF3F3A;
  --color-secondary: #ffcf2d;
  --color-success: #03cea4;
  --color-danger: #ff4242;
  --color-warning: #f89828;
  --color-info: #5a87fc;
  --color-purple: #7772F1;

  --color-gray-900: #1e212c;
  --color-gray-800: #424551;
  --color-gray-700: #787a80;
  --color-gray-600: #9a9ca5;
  --color-gray-500: #b3b7bc;
  --color-gray-400: #d7dadd;
  --color-gray-300: #e5e8ed;
  --color-gray-200: #f4f5f6;
  --color-gray-100: #f9f9f9;

  --btn-gradient: linear-gradient(
                  56deg,
                  #FF3F3A 0%,
                  #F75E05 100%
  );
  --divider-gradient: linear-gradient(
                  270deg,
                  rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%,
                  #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%,
                  rgba(218, 219, 221, 0.00) 100%)
;

  --font-family-base: "Lato", sans-serif;

  --border-card: 1px solid var(--color-gray-300);
  --border-input: 1px solid var(--color-gray-400);

  --container-width: 1200px;
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}
